body {
    margin: auto;
    background-color: #fff;
    font-family: 'Raleway', Arial, sans-serif; 
    font-weight: 400; 
    font-style: normal;
    line-height: normal;
} 

/*header — вся шапка*/
header {
    display: grid;
    padding: 92px 50px 96px 50px;
    grid-template-columns: 1fr min-content 1fr;
    color: #000;
}

/*header__links-list — список ссылок*/
.header_links-list {
  padding-top: 44px;
  display: flex;
  flex-direction: row;
  gap: 31.48px;
}

/*header__menu — контейнер навигации*/

/*ссылка без кружочка*/
.header__links-list-item_no-bullit {
    font-size: 18px;
    list-style-type: none;
}

/*header__link — ссылка*/
.header__link {
  text-decoration: none;
}

/*header__links-list-item — пункт списка ссылок с кружочком*/
.header__links-list-item {
    font-size: 18px;
    letter-spacing: 0.18px;
    list-style-type: circle;
}

/*header__logo — контейнер логотипа*/
.header_logo {
  display: block;
  width: 148px;
  height: 105px;
  flex-shrink: 0;
}

/*header__logo-image — картинка с логотипом*/
.header_logo-image {
    width: 148px;
    height: 105px;    
}

/*header__link_active — активная ссылка*/
.address {
  align-self: end;
  justify-self: end;
  display: flex;
  flex-direction: column;
  margin-right: 34px;
}

/*address — контейнер с адресом*/
.header__address {
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; 
  letter-spacing: 0.18px;
  max-width: 220.48px;
}

/*cover — вся секция*/
.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  color: #fff;
  padding: 165px 50px 51px 50px;
}

/*псевдоэлемент для overlay*/
.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.6);
  z-index: -1;
  } 

/*cover__title — заголовок*/
.cover__title {
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%; /* верхняя и средняя строчки */
  letter-spacing: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/*aligned-text верхняя строчка */
.aligned-text {
  display: inline-block;
  text-align: left;
  /*margin-top: 165px; это стало паддингом cover*/ 
  /*margin-left: 50px; это тоже стало паддингом cover*/
}

/*letter-spacing-extended - для букв но, бе, н*/
.letter-spacing-extended {
  letter-spacing: 60px;
}
/*aligned-text_center средняя строчка*/
.aligned-text_center {
  display: inline-block;
  line-height: 120%; 
  letter-spacing: 30px;
  margin-top: 10px;
  margin-left: 285px;
}

/*aligned-text_right нижняя строчка*/
.aligned-text_right {
  display: block;
  text-align: end;
  line-height: 100%;
  margin-top: 9px;
  margin-right: -31px;/* это стало падингом cover*/
}

/*cover__description — контейнер для подзаголовка и кнопки*/
.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  vertical-align: center;
  margin-top: 137px;
  gap: 78px;
  /*margin-left: 50px; это стало паддингом от cover*/  
}

/*cover__description-text — текст подзаголовка*/
.cover__description-text {
  display: inline-block;
  font-size: 22px;
  line-height: 28px; 
  text-transform: uppercase;
  word-spacing: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

/*bet-button — кнопка «Сделать ставку»*/
.bet-button {
  display: inline-block;
  background: transparent;
  width: 256px;
  height: 51px;
  /*margin-right: 50px; это стало паддингом cover*/
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

/*lots — вся секция;*/
.lots {
  padding-top: 179px;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
}

/*lots__heading — заголовок секции;*/
.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
}

/*lots__card-list — список карточек;*/
.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content : space-between;
  list-style-type: none;
  gap: 25px;
}

/*lots__card-list-item — пункт списка карточки;*/
.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

/*card-link — ссылка, обрамляющая карточку;*/
.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

/*card — карточка;*/
.card {
  padding: 51px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  background-color: #999999;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  padding-bottom: 48px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.6);
  z-index: -1;
  } 

/*card__title — заголовок карточки; */
.card__title {  
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; 
  text-decoration-line: underline;
  text-transform: uppercase;
} 

/*card__text — текст карточки;*/
.card__text {
  font-size: 20px;
  line-height: 120%;
}

/*lots__look-more-link — ссылка «Посмотреть больше».*/
.lots__look-more-link {
  display: inline-block;
  color: #000;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
}

/*about — вся секция;*/
.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 25px;
  margin: 148px 24px 180px 24px;
}

/*about__column — класс для колонок;*/
.about__column-first {
  justify-content: start;
}

/*about__logo — контейнер с логотипом;*/
.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000 no-repeat center url(../images/logo-white.svg);
  background-size: 148px 114px;
  margin-top: 35px;
  margin-left: 47px;
}

/*about__title — заголовок секции;*/
.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700; 
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 100px;
}

/*about__text — блок для текстов секции*/
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

/*footer — подвал;*/
.footer {
  display: grid;
  padding-right: 50px;
  padding-left: 50px;
  grid-template-columns: 1fr 149px 1fr;
  /*margin: 180px 50px 88px 50px; тептерь не нужен*/
}

/*address*/

/*footer__address выравниваем контейнер с адресом*/
.footer__address {
  justify-self: left;
  text-wrap: nowrap;
  font-style: normal;
  line-height: 24.3px; 
  letter-spacing: 0.18px;
}

/*footer__menu — блок навигации по списку ссылок. Мы рекомендуем окружать список тегом <nav> с этим классом;*/
.footer__menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/*footer__menu-list*/ 
.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/*footer__menu-list-item — пункт списка меню;*/
.footer__menu-list-item { 
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  list-style-type: none;
}

/*footer__menu-link — ссылка меню;*/
.footer__menu-link {
  text-decoration: none;
}

/*footer__social-list - контейнер с иконками*/
.footer__social {
  justify-self: end;
}

/*footer__social-list — список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что это ссылки на внешние ресурсы;*/
.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
}

/*footer__social-list-item — пункт списка ссылок на социальные сети;*/
.footer__social-list-item {
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.footer__social-icon-yt {
  background-image: url(../images/yt.svg);
}

.footer__social-icon-vk {
  background-image: url(../images/vk.svg);
}

.footer__social-icon-pinterest {
  background-image: url(../images/pinterest.svg);
}

/*footer__menu-link_active — активная ссылка меню (без подчёркивания);*/
/*footer__social-link — ссылка на социальные сети;*/
/*footer__social-icon — иконка социальной сети.*/
